body{
  margin: 0em;
  font-size: 28px;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin: 0em 3em;
}

.login{
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.login>button{
  border: none;
  border-radius: 0.3em;
  background-color: #F2F2F2;
  font-size: 1em;
  width: 50%;
  margin-left: 0.5em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  height: 2em;
}

.login>button>a{
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
}

.login>button:hover{
  background-color: #4CC366;
}
.login>i{
  font-size: 1.5em;
}

#NavBar{
  background-color: #F2F2F2;
  padding: 0em 3em;
  width: calc(100% - 6em);

  position: -webkit-sticky;
  position: sticky;
  top: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 4em;
}

#NavBar ul {
  list-style-type: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

#NavBar ul li {
  float: left;
  width: 25%;
}

#NavBar ul li a {
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
}

#NavBar ul li a:hover {
  color: #4CC366;
}
#NavBar ul li a:hover::after{
  content: "";
  background: #4CC366;
  width: calc((100% - 6em)/4);
  height: 2px;
  display: block;
  position: absolute;
  bottom: 0px;
}
#Content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: calc(100% - 6em);
  padding: 0em 3em;
}

#OfferContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 6em);
  padding: 0em 3em;
  text-align: center;
}

#OfferContent button{
  border: none;
  border-radius: 15px;
  background-color: #F2F2F2;
  font-size: 1.5em;
  width: 40%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
  padding: 0.5em 1em;
  margin: 1em;
}

#OfferContent button a{
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
}

.content-left{
  width: 50%;
  text-align: center;
}

.content-right{
  width: 50%;
  text-align: center;

}

#LoginContener{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  margin: 2em 0em;
}

#LoginContener div{
  width: 40%;
  background: #F2F2F2;
  border-radius: 10px;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#submit {
  background: white;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 19px;

  width: 40%;
  border: none;
  color: black;
  margin: 1em;
  line-height: 1em;
  font-size: 0.8em;
}
#LoginContener button {
  background: white;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 19px;
  padding: 2%;
  border: none;
  color: black;
  margin: 1em;
  line-height: 1em;
  font-size: 0.8em;
}

input {
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 1em;
  margin: 1em;
  width: 50%;
}

.signup-button{
  border: 1px solid green;
  background-color: green;
  border-radius: 40px;
  width: 10em;
  height: 3em;
  font-size: 2em;
}

.signup-button a{
  text-decoration: none;
  color: white;
}

.signup-button:hover{
  background-color: black;
}

#FooterBar{
  background-color: #2D2A28;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  padding: 0em 3em;
  width: calc(100% - 6em);
  font-size: 0.8em;
  margin-bottom: 1em;
  min-height: 10em;
}

.Dane{
  text-align: center;
  margin-left: 1em;
  height: 100%;
}

.Media{
  text-align: center;
  margin-right: 1em;
  height: 100%;
}
.Media:last-child{
  margin-bottom: 1em;
}

